---
import '../styles/global.css';
import { getLangFromUrl } from '../i18n/utils';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Valentin Kebat - Data Engineer Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<!-- Cloudflare Web Analytics -->
		<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "68c152e92dba44579c24f38f9b41242d"}'></script>
		<!-- End Cloudflare Web Analytics -->
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
        <Footer />
	</body>
</html>
